html,body{
    height                      :100%;
}

body{
    margin                      : 0;
    font-family                 : 'Lato', sans-serif;
    background-color            : red;
}


header.header_index {
	text-align : center;
	color: #b5b5b5;
    background-color: #4b4444;
	border : 10px solid black;
	padding : 20px 0px 20px 0px;
    background-image: url('media/LogoJO.png'),url('media/LogoP2024.png');
    background-repeat: no-repeat;
    background-position: left top, right top;
    background-size: 110px, 50px;
}


section.section_index{
    height: 61%;
    width: 720px;
    margin: auto;
}
section.section_index>article{
    width: inherit;
}
section.section_index a{
    height: 250px;
    width: 250px;
	border-radius : 50%;
    position:absolute;
	text-align: center;
    text-decoration:none;
    color:#606060;
}
section.section_index h3{
    padding-top: 20px;
    color:inherit;
}

section.section_index h3.Mcase1 {
    color: #fff8f8;
}
section.section_index h3.Mcase2 {
    color: #ffffff;
}
section.section_index h3.Mcase3 {
    color: #ffffff;
}
section.section_index h3.Mcase4 {
    color: #525252;
}
section.section_index h3.dernier {
    color: #5a5a5a;
}


section.section_index a.case1 {
    margin: 50px 432px 5px 32px;
	border: solid 3px rgb(0, 0, 255);
	background-image:url("media/hist.jpg");
	background-position : left;
	background-repeat : no-repeat;
}
section.section_index a.case2 {
    margin: 50px 232px 5px 232px;
	border: solid 3px rgb(0,0,0);
	background-image:url("media/jeux.jpg");
	background-position : right bottom;
	background-repeat : no-repeat;
}


section.section_index a.case3 {
    margin: 50px 32px 5px 432px;
	border: solid 3px rgb(207,10,29);
	background-image:url("media/feuu.jpg");
    background-position: center top;
	background-repeat : no-repeat;
}


section.section_index a.case4 {
    margin: 200px 332px 5px 132px;
	border: solid 3px rgb(255,255,0);
	background-image:url("media/Halloffame3.png");
	background-repeat : no-repeat;
}

section.section_index a.case5 {
    margin: 200px 132px 5px 332px;
	border: solid 3px rgb(0,128,0);
	background-image:url("media/DYK.png");
    background-color: white;
	background-position : center;
	background-repeat : no-repeat;
	background-size : 60%;
}

section.section_index a.case1:hover, section.section_index a.case2:hover, section.section_index a.case3:hover, section.section_index a.case4:hover, section.section_index a.case5:hover {
	height: 360px;
	width: 360px;
	border-radius : 50%;
	z-index:999;

}



header.Selec_JO{
    text-align                  : center;
    background-color            : #3e3e3e;
    color                       : #c9c9c9;
    vertical-align              : middle;
    height                      : 75px;
    box-shadow                  : 0px 5px 0px #7e7e7e;
}
header.Selec_JO>h1{
    margin                      : 0px;
    padding                     : 10px;
}



header.Selec_JOH{
    text-align                  : center;
    background-color            : blue;
    color                       : #ffffff;
    padding-bottom              : 20px;
    box-shadow                  : 0px 5px 0px #0a0ac7;
}
header.Selec_JOH>h1{
    margin                      : 0px;
    padding                     : 10px;
}
header.Selec_JOH>nav>a{
    background-color            : white;
    color                       : blue;
    padding                     : 5px;
    margin                      : 10px;
    text-decoration             : none;
}
header.Selec_JOH>nav>a:hover{
    background-color            : #000080;
    color                       : white;
    box-shadow                  : 5px 5px 0px #08458d;
    border-radius               : 5px;
}



header.Selec_JOE{
    text-align                  : center;
    background-color            : #f21c1c;
    color                       : #ffffff;
    padding-bottom              : 20px;
    box-shadow                  : 0px 5px 0px #c61818;
}
header.Selec_JOE>h1{
    margin                      : 0px;
    padding                     : 10px;
}
header.Selec_JOE>nav>a{
    background-color            : white;
    color                       : #cc0909;
    padding                     : 5px;
    margin                      : 10px;
    text-decoration             : none;
}
header.Selec_JOE>nav>a:hover{
    background-color            : #b41717;
    color                       : white;
    box-shadow                  : 5px 5px 0px #770f0f;
    border-radius               : 5px;
}



header.header_sportH{
    text-align                  : center;
    background-color            : blue;
    box-shadow                  : 0px 5px 0px #0404b7;
}
header.header_sportH>h1{
    color                       : white;
    margin                      : 0;
    padding                     : 5px;
}
header.header_sportH>nav{
    padding                     : 3px;
}
header.header_sportH>nav>ul>li{
    list-style-type             : none;
    display                     : inline-block;
    color                       : white;
    margin-right                : 20px;
    padding                     : 3px 10px 3px 10px;
    border-left                 : 1px solid white;
    border-right                : 1px solid white;
}
header.header_sportH>nav>ul>li:hover{
    color                       : black;
    background-color            : white;
    box-shadow                  : 5px 5px 0px #0404b7;
}
header.header_sportH>nav>ul>li>a{
    text-decoration             : none;
    color                       : inherit;
}



header.header_sportE{
    text-align                  : center;
    background-color            : red;
    box-shadow                  : 0px 5px 0px #be0000;
}
header.header_sportE>h1{
    color                       : white;
    margin                      : 0;
    padding                     : 5px;
}
header.header_sportE>nav{
    padding                     : 3px;
}
header.header_sportE>nav>ul>li{
    list-style-type             : none;
    display                     : inline-block;
    color                       : white;
    margin-right                : 20px;
    padding                     : 3px 10px 3px 10px;
    border-left                 : 1px solid white;
    border-right                : 1px solid white;
}
header.header_sportE>nav>ul>li:hover{
    color                       : red;
    background-color            : white;
    box-shadow                  : 5px 5px 0px #be0000;
}
header.header_sportE>nav>ul>li>a{
    text-decoration             : none;
    color                       : inherit;

}
header.header_source {
	text-align : center;
	color: #b5b5b5;
    background-color: #4b4444;
	border : 10px solid black;
	padding : 20px 0px 20px 0px;
    background-image: url('media/LogoJO.png'),url('media/LogoP2024.png');
    background-repeat: no-repeat;
    background-position: left top, right top;
    background-size: 110px, 50px;
}
header.header_source>nav>a{
    background-color            : #6a6a6a;
    color                       : #000000;
    padding                     : 5px;
    margin                      : 10px;
    text-decoration             : none;
}
header.header_source>nav>a:hover{
    background-color            : #393939;
    color                       : #7e7e7e;
    box-shadow                  : 5px 5px 0px #030303;
    border-radius               : 5px;
}
section.section_source{
    width:720px;
    margin: 20px auto 20px auto;;
}
section.section_source img{
    max-width: 720px;
}



section.sec_sport{
    margin                      : auto;
    width                       : 75%;
    min-width: 950px;
    background-color            : darkgrey;
}
section.sec_sport>h1{
    text-align                  : center;
    padding                     : 10px;
    margin                      : 40px;
    border-bottom               : 3px solid white;
}
section.sec_sport>article{
    text-align                  : justify;
}
section.sec_sport img{
    max-width                   : 500px;

}
section.sec_sport>article>a{
    margin                      : 100px;
    text-decoration             : none;
    color                       : #332d2d;
    background-color            : #b4b4b4;
    border                      : 1px solid #3e3333;
    padding                     : 20px;
}
section.sec_sport>article>a:hover{
    color                       : #b4b4b4;
    background-color            : #332d2d;
    box-shadow                  : 5px 5px 0px #1c1818;
}
section.sec_sport>article>p{
    margin                      : 50px;
}
section.sec_sport>article>h3{
    text-indent                 : 100px;
}
section.sec_sport>article.athletes>figure>a{
    text-decoration             : none;
    color                       : #242121;
    text-indent                 : 150px;
}
section.sec_sport>article.athletes>h3{
    margin                      : 20px auto 20px 100px;
}



p.Info_Projet{
    font-size                   : 10px;
    color                       : white;
    background-color            : black;
    margin                      : 0px;
}




section.Sec_JOete,section.Sec_JOhiver{
    background-color            : silver;
    width                       : 100%;
    margin                      : 20px auto 30px auto;
    height                      : 400px;
}
section.Sec_JOhiver>a,section.Sec_JOete>a{
    text-decoration             : none;
    color                       : #272222;
}
section.Sec_JOhiver>a>article:hover,section.Sec_JOete>a>article:hover{
    color                       : white;
    background-color            : #393636;
}
section.Sec_JOhiver>a>article,section.Sec_JOete>a>article{
    text-align                  : center;
    margin                      : 0;
    padding                     : 50px;
}
section.Sec_JOhiver>a>article>p,section.Sec_JOete>a>article>p{
    margin                      : 0;
}
section.Sec_JOhiver>a>article>img,section.Sec_JOete>a>article>img{
    border-radius               : 50%;
}



section.Sec_categ{
    width                       : 720px;
    margin                      : 20px auto 30px auto;
    height                      : 400px;
}
section.Sec_categ>a{
    text-decoration             : none;
}



article.Article_clair{
    background-color            : silver;
}
article.Article_fonce{
    background-color            : grey;
}



article.Categ_hiver{
    float                       : left;
    text-align                  : center;
    margin                      : 40px 10px 10px 96px;
    border                      : 3px solid #0000ff;
    color                       : black;
    padding                     : 30px;
    width                       : 100px;
    height                      : 100px;
    border-radius               : 50%;
}

article.Categ{
    float                       : left;
    text-align                  : center;
    margin                      : 40px 0px 10px 10px ;
    border                      : 3px solid black;
    color                       : black;
    padding                     : 30px;
    width                       : 100px;
    height                      : 100px;
    border-radius               : 50%;
}
article.Categ>h3{
    margin-top                  : 30px;
}

article.Categ_ete{
    float                       : left;
    text-align                  : center;
    margin                      : 40px 96px 10px 10px ;
    border                      : 3px solid #ff0000;
    color                       : black;
    padding                     : 30px;
    width                       : 100px;
    height                      : 100px;
    border-radius               : 50%;
}

article.Categ_retour{
    float                       : left;
    text-align                  : center;
    margin                      : 0px 10px 0px 184px ;
    border                      : 3px solid green;
    color                       : black;
    padding                     : 30px;
    width                       : 100px;
    height                      : 100px;
    border-radius               : 50%;
}
article.Categ_retour>h3{
    margin-top                  : 10px;
}

article.Categ_img{
    float                       : left;
    text-align                  : center;
    margin                      : 0px 184px 0px 10px ;
    border                      : 3px solid yellow;
    color                       : black;
    padding                     : 30px;
    width                       : 100px;
    height                      : 100px;
    border-radius               : 50%;
}
article.Categ_img>img{
    width                       : 70px;
    height                      : 90px;
}

article.Categ_img:hover,article.Categ_retour:hover,article.Categ_ete:hover,article.Categ_hiver:hover{
    background-color            : grey;
    color                       : #bababa;
    box-shadow                  : 5px 5px 0px #4d4d4d;
}
footer.index_footer{
    background-color            : #4b4444;
    text-align                  : center;
    padding                     : 10px;
    border                      : 3px solid black;
}
footer.index_footer>a{
    text-decoration             : none;
    color                       : #b5b5b5;
}
footer.index_footer>a:hover{
    color                       : #000000;
}
footer.index_footer img{
    max-width                   : 30px;
}


h1.Fact{
	padding-bottom: 20px
}
header.header_fact {
	text-align : center;
	color: #b5b5b5;
    background-color: #4b4444;
	border-top : 10px solid black;
	padding : 20px 0px 20px 0px;
    background-image: url('media/LogoJO.png'),url('media/LogoP2024.png');
    background-repeat: no-repeat;
    background-position: left center, right center;
    background-size: 110px, 50px;
}
section.sec_Fact article{
	text-align: center;
	color:Black;
	padding-left:100px;
	padding-right:100px;
	border:10px solid white;
	border-radius:5px
}
section.sec_Fact{
    margin-bottom : 50px;
}
body.Fact{
	background-color:DarkGrey;
}
p.Fact{
     color:Black
}
.guibody{
	background-color:white;
	margin:0;
}
.guiheader{
	font-family:arial;
	text-align:center;
	background-color:gold;
	padding-bottom:20px;
	box-shadow:0px 6px 0px rgb(255, 204, 0) ;



}
.guia:hover{
	background-color:rgb(255, 153, 0);
	border-radius:5px;
	color:white;
	font-weight:bold;

}
.guia{
	list-style-type:none;
	color:gold;
	background-color:white;
	text-decoration:none;
	padding:5px;
	font-weight:bold;


}
.guih1{


    color:white;
	padding-bottom:20px;
	padding-top:10px;
	font-size:50px;
	margin:0;



}
.guicaption{
	font-family:arial;
	text-indent:20px;
	font-weight:bold;
	font-size:20px;
	margin-bottom: 15px;
    margin-top: 10px;



}
.guitable{
	border-collapse: collapse;
	margin:2px;
	border:4px solid black;
	margin:20px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	font-family:arial;
    width: 1200px;
}
.guitable td{
	padding:5px;
}
.guitr{
	background-color:LightGrey;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;

}
.guitr2{
	background-color:rgb(179, 179, 179);
    font-family: 'Trebuchet MS', Helvetica, sans-serif;

}

.guitrup{
	border:4px solid black;
    background-color:gold;
}
.guitd{
	font-weight:bold;
    width: 100px;
    height: 50px;

    overflow: hidden;

}
.guior{
	background-image:url("or.jpg");
}
.guicaption2{
	caption-side: bottom;
	margin-top: 10px;
	color: black;
}
.guitr:hover{
    color:red;
    font-weight: bold;
	font-size:20px;
}
.guitr2:hover{
    color:red;
    font-weight: bold;
	font-size:20px;
}
.guiimg{
    border: 2px solid black;
    float:left;
    margin-left: 280px;

}
.guiimg2{
    border: 2px solid black;
    float:right;
    margin-right: 280px;

}
header.hist {
	background-color : rgb(175,238,238);
	border : 3px solid black;
	text-align : center;
	font-size : 150%;
	padding : 1% 0% 2% 0%;
	margin : 0% 0% 0% 0%;
	background-image : url('media/Pierre_C.png');
	background-position : left center;
    background-size: 150px;
	background-repeat : no-repeat;

}

header.hist h1{
 padding : 50px;

}

section.Sec_histoire h2 {
    background-color: darkslategray;
    font-size : 25px;
    text-align : left;
    font-style: italic;
    color : white;
    margin-top:0;
}
section.Sec_histoire>article{
	color : black;
	text-align : justify;
	font-weight : normal;
	font-size : 85%;
	border : 2px solid rgb(0,206,209);
	padding : 0% 0% 2% 0%;
	margin :  50px 1% 50px 1%;
	background-color : 	rgb(175,238,238);
}
section.Sec_histoire>article>p{
	margin : 2%;
}
section.Sec_histoire a{
	text-decoration: none;
}

section.Sec_histoire span{
    font-size:35px;
}
.article_hist{
    height : 250px;
}
.article_hist p.legende{
    width : 500px;
    margin: 0 200px;
}
.article_hist img{
    float : left;
    width : 75px;
}
